{% autoescape off %}
<html>
    <head>
        <style>
            /* Здесь вы можете добавить свои стили CSS */
        </style>
    </head>
    <body>
        <h1>Здравствуйте, {{ user.get_username }}!</h1>
        <p>Вы получили это письмо, потому что вы (или кто-то другой) запросили сброс пароля для вашей учетной записи на сайте {{ site_name }}.</p>
        <p>Если это были вы, пожалуйста, перейдите по ссылке ниже, чтобы установить новый пароль:</p>
        <p><a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">Сбросить пароль</a></p>
        <p>Эта ссылка будет действительна в течение {{ expiry_times }} минут.</p>
        <p>Если это не были вы, то просто проигнорируйте это письмо, и ваш пароль не изменится.</p>
        <p>Спасибо, что пользуетесь нашим сайтом!</p>
        <p>С уважением, команда {{ site_name }}.</p>
    </body>
</html>
{% endautoescape %}
